#section_happening_now {
  margin-block-start: -2.5rem;
}

#section_happening_now .article_card {
  border-radius: 0.375rem;
  margin-block-end: 2.5rem;
}

#section_happening_now .article_simple:first-of-type::before {
  content: "";
  display: block;
  height: 0;
  border-block-start: 2px solid #EBEDED;
  padding-block-start: 2.5rem;
}

@media (min-width: 768px) {
  #section_happening_now {
    padding: 5rem;
  }
  #section_happening_now .article_card:not(.article_image) {
    padding: 2.5rem;
  }
  #section_happening_now .article_card .article_title {
    padding-block-start: 8rem;
  }
  #section_happening_now .article_simple {
    margin-block-start: 0.5rem;
  }
  #section_happening_now {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
    column-gap: 3rem;
    grid-template-areas: "header header"
                         "first-picture first-picture"
                         "first-picture first-picture"
                         "second-picture second-picture"
                         "second-picture second-picture"
                         "third-picture last-picture"
                         "third-picture last-picture";
    margin-block-end: -16rem;
  }
  #section_happening_now > header {
    grid-area: header;
  }
  #section_happening_now > .article_card:nth-of-type(1) {
    grid-area: first-picture;
  }
  #section_happening_now > .article_card:nth-of-type(2) {
    grid-area: second-picture;
  }
  #section_happening_now > .article_simple:nth-of-type(1) {
    grid-area: third-picture;
  }
  #section_happening_now > .article_simple:nth-of-type(2) {
    grid-area: last-picture;
  }
  #section_happening_now .article_simple .article_image img {
    height: 50%;
    transform: translate(-148px, -199px);
  }
  #section_happening_now .article_title {
    transform: translate(-3px, -199px);
  }
  .article_simple .article_footer {
    transform: translate(2px, -199px);
  }

  .article_simple:last-of-type {
    display: none;
  }

}
