#section_trending article {
  background-color: #fff;
}

@media (min-width: 768px) {
  .section_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
    column-gap: 3rem;
    grid-template-areas: ;
  }
}
